%nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    background-color: #262a36;
}

nav {
    @extend %nav;
    .nav-logo-container{
        margin-left: 50px;
    }
    .nav-logo-container img {
        width: 55px;
        margin-top: 10px;
    }
    .profile-link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 50px;
    }
    .profile-link a {
        color: $white;
        border-bottom: 1px solid $white;
        text-decoration: none;
    }&:hover {
        color: rgba(255, 255, 255, 0.9);
    }
}

.nav-item a{
    color: rgba(255, 255, 255, 0.9);

}

.navbar-brand img {
    max-width: 60px;
}